<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
    	<tr  th:each="user : ${users}">
    		<td th:text="${user.id}">a</td>
    		<td th:text="${user.age}">1</td>
    		<td th:text="${user.name}">hhe</td>
    	</tr>
    </table>
    <hr>
    总数:<input type="text" style="border:0px" value="0" th:value="${#sets.size(users)}"/><br>
   是否为空：<input type="text" style="border:0px" value="0" th:value="${#sets.isEmpty(users)}"/>
</body>
</html>